#select-mood, #select-mood option {
    font-family: 'FontAwesome';
    font-style: normal;
}
.center {
    margin: auto;
    width: 50%;
}
input{
    margin-top: 1em;

}
small{
    margin-top: 1.5em;
    text-align: left !important;
}