<div class="container">
  <h3 *ngIf="!groupId">Ajout d'un groupe</h3>
  <h3 *ngIf="groupId">Modification d'un groupe</h3>

  <form class="form-inline row align-items-center justify-content-center">
      <div class="form-group mb-2">
          <label class="mr-2">Nom du groupe : </label>
          <input type="text" name="name" [(ngModel)]="group.name" class="form-control">
      </div>
      <div class="form-group mx-sm-3 mb-2">
          <label class="mr-2">Heure d'envoi du mail : </label>
          <ngb-timepicker [(ngModel)]="group.nextNotificationDate" name="date"></ngb-timepicker>
      </div>
      <button type="submit" *ngIf="!groupId" class="btn btn-custom-blue mb-2" (click)="sendNewGroup()">Créer</button>
      <button type="submit" *ngIf="groupId" class="btn btn-custom-blue mb-2" (click)="editGroup()">Mettre a jour</button>
    </form>

    <table class="table" *ngIf="groupId">
        <thead>
          <tr>
            <th scope="col">Membre du groupe</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of usersInGroup">
            <th scope="row">{{user.name}} {{user.surname}}</th>
            <td><button class="btn btn-danger btn-sm" (click)="deleteUserFromGroup(user)"><fa name="trash"></fa></button></td>
          </tr>
        </tbody>
      </table>

      <table class="table" *ngIf="groupId">
        <thead>
          <tr>
            <th scope="col">Autres utilisateurs</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of newUsers">
            <th scope="row">{{user.name}} {{user.surname}}</th>
            <td><button class="btn btn-sm"><fa name="plus-square" (click)="addUserToGroup(user)"></fa></button></td>
          </tr>
        </tbody>
      </table>
</div>
