<div class="container">
  <h3>Ajout d'un groupe</h3>

  <form class="form-inline row align-items-center justify-content-center">
      <div class="form-group mb-2">
          <label class="mr-2">Nom du groupe : </label>
          <input type="text" name="name" [(ngModel)]="group.name" class="form-control">
      </div>
      <div class="form-group mx-sm-3 mb-2">
          <label class="mr-2">Heure d'envoi du mail : </label>
          <ngb-timepicker [(ngModel)]="group.nextNotificationDate" name="date"></ngb-timepicker>
      </div>
      <button type="submit" *ngIf="!groupId" class="btn btn-custom-blue mb-2" (click)="sendNewGroup()">Créer</button>
      <button type="submit" *ngIf="groupId" class="btn btn-custom-blue mb-2" (click)="editGroup()">Mettre a jour</button>
    </form>
</div>
