
<h2>Se connecter :</h2>
<!-- 
  <div>
    <span>Login : </span>
    <input type="email" name="email" [(ngModel)]= "user.email" > 
  </div>
  <br>
  <div>
    <span>Mot de passe :</span>
    <input type="password" name="password" [(ngModel)]= "user.password" >
  </div>
  <br>
  <div>
    <button (click)="connexion()">Connexion</button>
  </div> -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>BEE TO MOOD</h1>
        <img src="assets/logo.png" alt="logo">
      </div>
      <div class="col-md-6 border-left">
        <div class="form-row">
          <div class="form-group col-md-4">
            <input type="email" name="email" [(ngModel)]= "user.email" placeholder="login" class="form-control"> 
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <input type="password" name="password" [(ngModel)]= "user.password" placeholder="Password" class="form-control"> 
          </div>
        </div>
        <div class="form-group col-md-4">
          <button (click)="connexion()">Connexion</button>          
        </div>
      </div>      
    </div>
  </div>