<button id="btnAddGroup" routerLink="/group/add" class="btn btn-custom-grey">Ajouter un groupe</button>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Heure du mail journalier</th>
      <th scope="col">Modifier</th>
      <th scope="col">Supprimer</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let group of groups;">
      <td>{{ group.name }}</td>
      <td>{{ group.nextNotificationDate }}h </td>
      <td><a class="btn btn-secondary" [routerLink]="['edit', group._id]"><fa name="wrench"></fa></a></td>
      <td><button class="btn btn-danger btn-sm" (click)="deleteGroup(group._id)"><fa name="trash"></fa></button></td>

    </tr>
  </tbody>
</table>
