<button id="btnAddReview" routerLink="/review/add" class="btn btn-custom-grey">Ajouter une review</button>
<div class="container-fluid reviewlist">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Mood</th>
        <th scope="col">Commentaire</th>
        <th scope="col">Date</th>      
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let review of reviews;">
        <td>{{ review.mood }}</td>
        <td>{{ review.comment }}</td>
        <td>{{ review.date }} </td>
      </tr>
    </tbody>
  </table>
</div>