<h3>Ajout d'un utilisateur</h3>
  <!--<form>
  First name:
  <input type="text" name="firstname" [(ngModel)]="user.name">
  Last name:
  <input type="text" name="lastname" [(ngModel)]="user.surname">
  Email:
  <input type="email" name="email" [(ngModel)]="user.email">
  Mdp:
  <input type="password" name="password" [(ngModel)]="user.password">
  Groupe:
  <select name="group" id="">
    
  </select>
  Type:
  <select name="type" [(ngModel)]="user.type">
    <option selected>Type d'utilisateur</option>    
    <option value="Manager">Manager</option>
    <option value="Employé">Employé</option>
    <option value="Admin">Admin</option>
  </select>
  <input type="submit" value="Submit" (click)="sendNewUser()">
</form> -->


<div class="container-fluid">

<form>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputEmail4">First Name</label>
      <input type="text" name="firstname" [(ngModel)]="user.name" class="form-control"  >
    </div>
    <div class="form-group col-md-3">
      <label for="inputPassword4">Last Name</label>
      <input type="text" name="lastname" [(ngModel)]="user.surname" class="form-control"  >
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputEmail4">Email</label>
      <input type="email" name="email" [(ngModel)]="user.email" class="form-control"  >
    </div>
    <div class="form-group col-md-3">
      <label for="inputPassword4">Password</label>
      <input type="password" name="password" [(ngModel)]="user.password" class="form-control"  >
    </div>
  </div>
  <div class="form-row">

    <div class="form-group col-md-4">
      <label for="inputState">Type</label>
      <select name="type" [(ngModel)]="user.type" class="form-control">
        <option selected>Type d'utilisateur</option>    
        <option value="Manager">Manager</option>
        <option value="Employé">Employé</option>
        <option value="Admin">Admin</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Groupe</label>
      <select name="group" id="" class="form-control">
    
      </select>
    </div>
  </div>
  <div class="form-group col-md-2">
  <input type="submit" value="Submit" (click)="sendNewUser()">
  </div>
</form>
</div>