<!-- <h3>Ajout d'un utilisateur</h3>
<form action="" method="POST">
  First name:
  <input type="text" name="firstname" value="Mickey" [(ngModel)]="user.name">
  Last name:
  <input type="text" name="lastname" value="Mouse" [(ngModel)]="user.surname">
  Email:
  <input type="text" name="lastname" value="Mouse" [(ngModel)]="user.email">
  Mdp:
  <input type="text" name="lastname" value="Mouse" [(ngModel)]="user.password">
  Type:
  <input type="text" name="lastname" value="Mouse" [(ngModel)]="user.type">
  <input type="submit" value="Submit">
</form> -->