/* You can add global styles to this file, and also import other style files */

.btn-custom-grey {
    color: #fff;
    background-color: #999999;
    border-color: #999999;
    
}

.btn-custom-yellow {
    color: #fff;
    background-color: #FFDE59;
    border-color: #FFDE59; 
}

.btn-custom-blue {
    color: #fff;
    background-color: #2e95b4;
    border-color: #2e95b4; 
}
